/*CSS common to all the 4 pages*/

body{ 
    background-color: #383232;
    padding: 30px;
} 

h1{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #e0dcdc;
	padding-bottom: 30px;
}

h2{
	font-family: Times, serif;
}

#nav{

	list-style: none;
	margin: auto;
	padding: 0;  /* very important removes the default setting for the list (space for the symbol)*/
	width: 680px;
	margin-bottom: 20px;
	overflow: hidden; /* very imp as it ensures the next element is on the next line and not horizontally next.*/
}
#nav li{
	
	width: 168px;
	float: left;
	border: solid white;
	border-width: 1px; 
	text-align: center;
}
#nav li a{
	display: block;
	color: white;
	text-decoration: none;
	background-color: #393d39;	
	padding: 4px;
}
#nav li a:hover:not(.active){
	background-color: #111c11;
	color: white; 
}

#nav li a.active{
	background-color: #0f9e0d;
}

@media (max-width: 684px){
	#nav{
		width: 340px;
}

